name: 'MS13 Testserver'
host: 0.0.0.0
port: 7788
players: 128
#password: ultra-password
announce: false
#token: YOUR_TOKEN
gamemode: Gangwar
website: example.com
language: en
description: 'MS13 Testserver'
modules: ['js-module']
resources: ['gangwar' 'BetterClothingMenu']
debug: true
